<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.sail.exercises" versionCode="1" version="0.1.0">

    <name>Random Exercise Selector</name>

    <description>
        some app for studying
    </description>

    <author>
        Sail </author>

    <!-- preferences -->
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />

    <platform name="android">
    </platform>

</widget>